<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Message Box </h1>
    <form method="post" action="/submit">
        <label for="senderName"> Name:
        <input type="text" name="senderName">
        
      </label>
        <br>
        <label for="Message"> Message:
        <input type="text" name="message">
      </label> <br>
        <input type="submit">
    </form>
</body>

</html>